*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #121212;
}

.top-nav .logo {
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #344055;
    color: white;
    padding: 0.5rem 1rem;

    text-decoration: none;
}

.top-nav nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between; /* Use justify-content instead of space-between */
    padding: 0; /* Reset padding to ensure alignment */
}

.top-nav nav ul li {
    margin: 0.5rem;
}

.top-nav nav ul li button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #344055;
    color: white; /* Make button text color white */
    cursor: pointer; /* Change cursor to pointer when hovering over the buttons */
}

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust to the desired height of the container */
    }


.logo-box {
    margin-bottom: 2rem;
    /* Add styles here TODO */
}

.form-fields {
    margin-bottom: 2rem;
    /* Add styles for your form fields here */
}

.login-button {
    width: 120px;
    height: 60px;
    top: -606px;
    left: 1518px;
    padding: 12px 24px;
    border: none;
    border-radius: 1000px;
    gap: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    background: #4F46E5;
    color: #FFFFFF; /* Text color */
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-right: 20px;
    transition: background-color 0.3s;
}
.login-button:hover {
    background-color: #473FCE;
    }

.signup-button {
    background: #FFFFFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
    width: 120px;
    height: 60px;
    border: none;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border: 1px solid #E2E8F0;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 1000px;
    gap: 8px;
    margin-right: 20px;
    color: #79808A;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #F8FAFC;





}
