/* login.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
}

form {
    width: 572px; /* Fixed width (620px - 48px padding) */
    margin-top: 24px; /* Add space between container and form */
    padding: 24px;
    border-radius: 6px;
    border: 1px solid #E2E8F0;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 0px #1018280D;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 48px);
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #E2E8F0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #FFFFFF;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin-bottom: 24px;
}

h2.error {
    color: red;
}
.svg-container {
    margin-top: 10px;
    text-align: center;
}

.action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
