<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cards Information</title>
    
    <div th:replace="~{navbar :: head}"></div>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/cardsinfo.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    
</head>
<body>
    <div class="main-container">
        <div th:replace="~{navbar :: body}"></div>

        <div class="content" th:object="${user}">
            <div class="page-top-container"></div>
            <div class="container">
                <div class="content-container" th:object=${rewardsProfiles}>
                    <div class="title">
                        <div class="page-title">Credit Card Types</div>
                        <div class="page-subtitle">Find out more about the different credit card types</div>
                    </div>
                    
                    <div class = "horizontal-container">
                    	<div class = "page-card-container">
	                        <div class = "credit-card-container" th:each="rewardsProfile : ${rewardsProfiles}">
	                        	<div class = "credit-card-title" th:text=${rewardsProfile.name}></div>
	                        	<div class = "cards-body-container">
		                        	<div><img src="/svg/card1.svg" alt="Card Image"></div>
		                            <div class = "cards-info-container">
		                                <div class = "cards-info-header">Card Information</div>
		                                <div class = "cards-info-body" th:text="${rewardsProfile.conversionPercentage} + '% on ' + ${rewardsProfile.description}"></div>
		                            </div>
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <!-- <div class = "page-card-container">
	                        <div class = "credit-card-container">
	                        	<div class = "credit-card-title">FDM EVOL</div>
	                        	
	                        	<div class = "cards-body-container">
		                        	<div><img src="/svg/card2.svg" alt="Card Image"></div>
		                            <div class = "cards-info-container">
		                                <div class = "cards-info-header">Card Information</div>
		                                <div class = "cards-info-body">15% on Food</div>
		                                <div class = "cards-info-body">15% on Travel</div>
		                            </div>
	                            </div>
	                        </div>
	                    </div> -->
                    </div>
                   <!--  
                    <div class = "horizontal-container">
                    	<div class = "page-card-container">
	                        <div class = "credit-card-container">
	                        	<div class = "credit-card-title">FDM SIGNATURE</div>
	                        	
	                        	<div class = "cards-body-container">
		                        	<div><img src="/svg/card3.svg" alt="Card Image"></div>
		                            <div class = "cards-info-container">
		                                <div class = "cards-info-header">Card Information</div>
		                                <div class = "cards-info-body">15% on Food</div>
		                                <div class = "cards-info-body">15% on Travel</div>
		                            </div>
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class = "page-card-container">
	                        <div class = "credit-card-container">
	                        	<div class = "credit-card-title">FDM LADY'S CARD</div>
	                        	
	                        	<div class = "cards-body-container">
		                        	<div><img src="/svg/card4.svg" alt="Card Image"></div>
		                            <div class = "cards-info-container">
		                                <div class = "cards-info-header">Card Information</div>
		                                <div class = "cards-info-body">15% on Food</div>
		                                <div class = "cards-info-body">15% on Travel</div>
		                            </div>
	                            </div>
	                        </div>
	                    </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
