<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div  th:replace="navbar :: head"></div>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            $(document).on("click", ".bankaccount-number i", function() {
                var iconElementBank = $(this);
                var accountNumberElement = iconElementBank.parent();
                var fullAccountNumber = accountNumberElement.data("full-account-number");
                var lastFourDigits = accountNumberElement.data("last-four-digits");

                if (accountNumberElement.text().trim() === fullAccountNumber) {
                    accountNumberElement.html("Bank Account ************ - " + lastFourDigits + ' <i class="fas fa-eye hoverable"></i>');
                } else {
                    accountNumberElement.html(fullAccountNumber + ' <i class="fas fa-eye-slash hoverable"></i>');
                } 

            });
        });
        $(document).ready(function() {
            $(document).on("click", ".creditCard-number i", function() {
                var iconElement = $(this);
                var creditCardElement = iconElement.parent();
                var fullCreditCard = creditCardElement.data("full-credit-number");
                var lastFourDigits = creditCardElement.data("last-four-digits-credit");

                if (creditCardElement.text().trim() === fullCreditCard) {
                    creditCardElement.html("Credit Card ************ - " + lastFourDigits + ' <i class="fas fa-eye hoverable"></i>' );
                } else {
                    creditCardElement.html(fullCreditCard + ' <i class="fas fa-eye-slash creditCard-number hoverable"></i>' );
                }
            });
        });
        function submitCreditCardForm(event, index) {
            console.log("123")
            event.stopPropagation();
            var form = document.getElementsByName("cc-form")[index];
            form.submit();
        }
    </script>
</head>

<body>
<div class="main-container">

    <div th:replace="navbar :: body"></div>

    <div class="content" th:object="${user}">
        <div class="page-top-container"> </div>
        <div class="container" >
            <div class="content-container">
                <div class="title">
                    <div class="page-title">Dashboard</div>
                    <div class="page-subtitle">Summary Information</div>
                </div>

                <div class="info-container">

                    <div class="bank-account-container">
                        <div class="bank-account-info" th:each="bankAccount : ${user.bankAccounts}">
                            <div class="bankaccount-number"
                            th:data-full-account-number="'Bank Account ' + ${bankAccount.accountNumber}"
                            th:data-last-four-digits="${#strings.substring(bankAccount.accountNumber, 12, 16)}">
                                Bank Account ************ - [[${#strings.substring(bankAccount.accountNumber, 12, 16)}]]
                                <i class="fas fa-eye hoverable"></i>

                            </div>
                            
                            <div class="balance">
                                <div>Balance</div>
                                <div class="amount" th:text="'$' + ${bankAccount.currentBalance}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="credit-card-container">
                        <div class="credit-card-info" th:each="creditCard, status : ${user.creditCards}" th:onclick="|submitcreditCardForm(event, '${status.index}'')|">
                            <form name="cc-form" method="post" action="/creditcard">
                                <input th:value="${creditCard.accountNumber}" name="creditCardNumber" hidden>
                                <div class="creditCard-number"
                                    th:data-full-credit-number="'Credit Card ' + ${creditCard.accountNumber}"
                                    th:data-last-four-digits-credit="${#strings.substring(creditCard.accountNumber, 12, 16)}">
                                    Credit Card ************ - [[${#strings.substring(creditCard.accountNumber, 12, 16)}]]
                                    <i class="fas fa-eye creditCard-number hoverable"></i>
                                </div>
                                <button class="dashboard-card-button">
                                    <div class="balance">
                                        <div>Remaining Balance</div>
                                        <div class="amount" th:text="'$' + ${creditCard.currentBalance}"></div>
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
