<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div  th:replace="navbar :: head"></div>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
</head>

<body>
<div class="main-container">

    <div th:replace="navbar :: body"></div>

    <div class="content" th:object="${user}">
        <div class="page-top-container"> </div>
        <div class="container" >
            <div class="content-container">
                <div class="title">
                    <div class="page-title">Dashboard</div>
                    <div class="page-subtitle">Summary Information</div>
                </div>

                <div class="info-container">

                    <div class="bank-account-container">
                        <div class="bank-account-info"  th:each="bankAccount : ${user.bankAccounts}">
                            <div class="account-number" th:text="'Account Number ' + ${bankAccount.accountNumber}"> </div>
                            <div class="balance">
                                <div>Balance</div>
                                <div class="amount" th:text="'$' + ${bankAccount.currentBalance}"> </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="credit-card-container">
                        <div class="credit-card-info" th:each="creditCard : ${user.creditCards}">
                            <div class="account-number" th:text="'Credit Card ' + ${creditCard.accountNumber}">
                            </div>
                            <div class="balance">
                                <div>Remaining Balance</div>
                                <div class="amount" th:text="'$' + ${creditCard.currentBalance}"></div>
                            </div>
                        </div>
                    </div> -->
                    <div class="credit-card-container">
                        <div class="credit-card-info">
                            <div class="account-number">
                                Credit Card 1111-2222-3333-4444
                            </div>
                            <div class="balance">
                                <div>Remaining Balance</div>
                                <div class="amount">$1234.56</div>
                            </div>
                        </div>
                        <div class="credit-card-info">
                            <div class="account-number">
                                Credit Card 1234-4321-1234-4321
                            </div>
                            <div class="balance">
                                <div>Remaining Balance</div>
                                <div class="amount">$2345.67</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
