<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}" type="text/css">
</head>
<body>
<!--TO BE EDITED-->
<!--<h2 style="color: orange;"><p th:text="${successMessage}"></p></h2>-->

    <header class="top-nav">
        <a href="#" class="logo">Logo</a>
        <nav>
            <ul>
                <li><button>Button</button></li>
                <li><button>Button</button></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="content">
            <div class="logo-box">
                <!-- <img src="https://via.placeholder.com/150" alt="Logo"> -->
            </div>

            <div class="action-buttons">
                <a href="login"><button>Log In</button></a>
                <a href="register"><button>Sign Up</button></a>
            </div>

        </div>
    </div>

<!--
container - for primary content
logo box = to take care of the company logo which will ink to index
action buttons = for login and sign up

-->

</body>
</html>
