<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay Bills</title>
    <div th:replace="~{navbar :: head}"></div>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/paybills.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">

</head>
<body>
    <div class="main-container">
        <div th:replace="~{navbar :: body}"></div>

        <div class="content">
            <div class="page-top-container"></div>
            <div class="container">
                <div class="content-container">
                    <div class="title">
                        <div class="page-title">Pay Bills</div>
                        <div class="page-subtitle">Easily pay your credit card bills</div>
                    </div>
                    <!-- container for bills info and pay bills form  -->
                    <div class = "horizontal-container">
                        <!-- bills info -->
                        <div class = "bills-container">
                            <div class = "bills-title"> Your bills </div>
                            <div class = "bills-info">
                                <div class = "bills-subtitle">Bills</div>
                                <div class = "bills-body" th:text="${creditCard.spendingLimit-creditCard.currentBalance}"></div>
                            </div>
                            <div class = "bills-info">
                                <div class = "bills-subtitle">Minimum Payment</div>
                                <div class = "bills-body">$100000</div>
                            </div>
                            <div class = "bills-info">
                                <div class = "bills-subtitle">Due Date</div>
                                <div class = "bills-body">22 Jan 22</div>
                            </div>
                        </div>
                        <!-- pay bills form -->
                        <div class = "pay-bills-form">
                            <div class = "bills-label-container">
                                <label for="to" class = "bills-subtitle">To</label>
                                <div id="to" class="to-body" th:text="'Credit card ' + ${creditCard.accountNumber}"></div>
                            </div>
                            <div class = "bills-label-container">
                                <label for="amount" class = "bills-subtitle">Amount</label>
                                <input type="text" id="amount" class="amount-body">
                            </div>
                            <div class = "bills-label-container">
                                <label for="from" class = "bills-subtitle">From</label>
                                <select id="from" class="from-body">
                                    <option value="select" disabled>Select</option>
                                    <option th:each="account : ${user.bankAccounts}" th:value="${account.accountNumber}" th:text="'Bank account ' + ${account.accountNumber}"></option>
                                </select>
                            </div>
                            <div class = "send-request-button"> Send Request </div>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</body>
</html>
