<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div  th:replace="~{navbar :: head}"></div>
    <meta charset="UTF-8">
    <title>Rewards</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/rewards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">

</head>

<body>
<div class="main-container">

    <div th:replace="~{navbar :: body}"></div>

    <div class="content" th:object="${user}">
        <div class="page-top-container"> </div>
        <div class="container" >
            <div class="content-container">
                <div class="title-container">
                    <div>
                        <div class="page-title">Rewards</div>
                        <div class="page-subtitle">View, redeem and enjoy your rewards</div>
                    </div>
                    <div class = "my-points" th:text="'My Reward Points: ' + ${user.getRewardsPoints()} + ' Points'"></div>
                </div>
                <div class = "rewards-container" >
                        <div class = "left-container">
                            <div th:each="reward : ${rewards}" th:if="${reward.itemId % 2 != 0}">
                            <div class = "rewards-card">
                                <img th:src="${reward.imageUrl}" alt="cooker">
                            <div class = "rewards-content">
                                <div class = "rewards-title" th:text="${reward.name}"></div>
                                <div class = "rewards-body" th:text="${reward.description}"></div>
                                <div class = "rewards-points" th:text="${reward.cost} + ' Points'"></div>
                            </div>
                                <div class="claim-button">
                                    <form th:action="@{/rewards/purchase}" method="post">
                                        <input type="hidden" name="itemId" th:value="${reward.itemId}" />
                                        <button type="submit">Claim Now</button>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
                    <div class = "left-container">
                        <div th:each="reward : ${rewards}" th:if="${reward.itemId % 2 == 0}">
                            <div class = "rewards-card">
                                <img th:src="${reward.imageUrl}" alt="cooker">
                                <div class = "rewards-content">
                                    <div class = "rewards-title" th:text="${reward.name}"></div>
                                    <div class = "rewards-body" th:text="${reward.description}"></div>
                                    <div class = "rewards-points" th:text="${reward.cost} + ' Points'"></div>
                                </div>
                                <form th:action="@{/rewards/purchase}" method="post">
                                <input type="hidden" name="itemId" th:value="${reward.itemId}" />
                                <div class="claim-button">Claim Now</div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
